body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background: url(background.jpg) no-repeat center center fixed;
    background-size: cover;
}

#chat-container {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    animation: fadeIn 0.3s;
}

.user-message {
    justify-content: flex-end;
    text-align: right;
}

.bot-message {
    justify-content: flex-start;
}

.message-text {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    background-color: #eaf0f6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#chat-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#chat-input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

#send-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 5px;
    border-radius: 15px;
    cursor: pointer;
}

#answer-container {
    margin-top: 20px;
}

#mode-toggle {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#mode-toggle label {
    margin-right: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
